body {
    background-color: #CCCCFF;
    font-size: 14pt;
    font-weight: bold;
    font-family: sans-serif;
}

header {
    margin: 0;
}

h1 {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

section div {
    text-align: center;
}

section div textarea {
    width: 90%;
    height: 400px;
    font-size: 12pt;
    font-family: monospace;
    font-weight: bold;
    margin: auto;
}

#controls {
    width: 800px;
    margin: auto;
    text-align: center; 
}

#controls fieldset {
    border: 5px solid black;
    /* float: left; This would also work without making the display inline, but then they won't be centered */
    /* ctrl k + c */
    display: inline;
}

footer {
    clear: left;
    float: right;
}

