body {
    font-size: 16px;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: blue;
}

p.columns-view {
    color: black;
}

.my-courses {
    color: green;
    background-color: beige;
}

ol {
    font-family: cursive;
    font-size: 3vmin;
    font-weight: bold;
}

dl {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
    text-align: left;
}

dt {
    color: darkcyan;
}

dd a {
    color: black;
    text-decoration: underline;
}

dd a:hover {
    color: blue;
}

@font-face {
    font-family: myFont;
    src: url('fonts/pacifico/Pacifico.ttf');
}

ul {
    font-family: myFont;
    font-size: 2vmax;
    text-align: center;
}

strong {
    color: #ff00ff;
}

/* This is a comment! */

a {
    color: peru;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    text-decoration: underline;
    color: green;
    background-color: aliceblue;
}

a:active {
    color: red;
}

h2.my-courses:hover {
    color: purple;
}

h2:active {
    background-color: red;
}

p#neighbourPara::first-letter {
    color: red;
}

p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

.four-column {
    padding: 1em;
    column-count: 4;
    column-gap: 1em;
}